* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

nav img {
    width: 61.09px;
    height: 19px;
    margin-top: 30px;
    margin-bottom: 60px;

}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

li {
    display: inline-block;
}

a {
    text-decoration: none;
    color: #000000;
}

.home {
    margin-right: 69px;
}

.activity {
    margin-right: 42.61px;
}

a:hover {
    color: #0065FC;
    border-top: solid 2px #0065FC;
    cursor: pointer;
    padding-top: 16px;

}

h1 {
    margin-top: 0px;
    margin-bottom: 8px;
    width: 1340px;
    height: 26px;
    font-size: 22px;
}

.subtitle {
    margin-bottom: 35px;
    width: 1340px;
    height: 19px;
    font-size: 16px;
}

body {
    max-width: 1440px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-top: 1.5px;
    padding-left: 50px;
    padding-right: 50px;
}

form {
    margin-bottom: 35px;
    display: flex;
    width: 377px;
    height: 49px;
}

.btn-location {
    width: 50px;
    height: auto;
    background: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}

.fa-solid {
    width: 14px;
    height: 18px;
    font-size: 16px;
}

.btn-search {
    padding: 14px 16px;
    height: auto;
    width: 132px;
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
}

.input-btn {
    height: auto;
    border: 1px solid #F2F2F2;
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    text-align: center;
}

input::placeholder {
    font-size: 18px;
}

input:focus-visible {
    outline: none;
}

.filtres {
    margin-bottom: 37.5px;
    display: flex;
    font-weight: 700;
    font-size: 17px;
    align-items: center;
}

.filtre-title {
    padding-right: 10px;
}

.btn-filtre {
    height: 50px;
    padding: 4px 19px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    background-color: #FFFFFF;
    font-weight: 700;
    font-size: 17px;
    margin-right: 10px;
}

.btn-filtre :hover {
    background-color: #DEEBFF;
}

.info {
    display: flex;
    align-items: center;
    margin-bottom: 37.5px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding-left: 0px;
    box-sizing: border-box;
}

.section-mainTitle {
    font-size: 22px;
    margin-top: 0px;
    margin-bottom: 30px;
}

.main-card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.hebergements-cards img {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}